loading-button {
  button.loading-button {
    padding: 0 30px;
    // border-radius: 28px;
    height: 56px; 
  }

  button.loading {
    padding: 0;
    // border-radius: 100%;
    width: 56px;
  }
}
